
save.p
taxi_route.csv
.ipynb_checkpoints/Starting With Pickle-checkpoint.ipynb
save2.p
.ipynb_checkpoints/Heatmaps_vav-checkpoint.ipynb
.ipynb_checkpoints/Binning-checkpoint.ipynb
heat.p
.ipynb_checkpoints/Taxi Route Read-checkpoint.ipynb
thresh_50k.p
